html  {
	background: #e8ecec;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s; 
}

body {
		padding-left: 30%;
		padding-right: 30%;
	}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	line-height: 1.7em;
}
	
p, a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: left;
	color: #000000;
	font-size: 1em;
	line-height: 1.5em;
	display: flex;
	align-items: center;
	text-decoration: none;
}

#me {
	padding-top: 10%;
	display: table;
	margin: 0 auto;
	height: 125px;
	padding-bottom: 30px;
}

.fab, .far {
	padding: 16px 16px 16px 0px;
}

@media only screen and (max-device-width: 768px) {
	body {
		padding-left: 8%;
		padding-right: 8%;
		padding-bottom: 10%;
	}

}


